<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalhes do Estudante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lucas Paulino Moreira</ion-card-title>
      <ion-card-subtitle>Turma:ADS0301M</ion-card-subtitle>
      <ion-card-subtitle>Matrícula: 22103725</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="assets/imagens/Lucas.jpg" alt="Minha Imagem"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cursos</ion-card-title>
      <ion-card-subtitle> <ion-icon class="bold-white" name="code-slash"></ion-icon> Análise e Desenvolvimento de Sistemas: Cursando </ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Análise e Desenvolvimento de Sistemas</ion-card-title>
      <ion-card-subtitle >Mentores: Oswaldo Peres, Marcelo Loutfi.</ion-card-subtitle>
      <ion-card-subtitle >Módulo: Desenvolvimento Mobile</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>
  
</ion-content>

